<div  class='background-text'>
<h2>Patents are extremely difficult to read. </h2>

<p>
The language used in them can be turgid and arcane, full of long lists that enumerate all possible 
variants of an invention.
 The USPTO compounds this by formatting the text in printed patents into narrow columns.</p>

<h2>PATSY aims to change all that.</h2>

<p>Enter a US patent number, PATSY pulls it from the USPTO and reformats it on the fly.</p>

<p>
<ul>
	<li>Dense blocks of text are broken up into separate sentences
	<li>Long sentences are split at semicolons into multiple lines
	<li>The original text for a bock can be viewed by clicking the arrow above each block
	<li>Significant terms are highlighted
	<li>Patent numbers are highlighted and linked to PATSY or patent office sites
	<li>References to scientific papers are linked to the NIH PubMed site
	<li><a href="http://translate.google.com">Google Translate</a> lets you read the text in other languages
</ul>
</p>


<h2>PATSY is an experiment - it's not perfect, but it's a good first step</h2>

<h2><a href="/">Try PATSY Now - it's free</a></h2>


<p>&nbsp;</p>
<p>Some things to bear in mind:
<ul>
	<li>PATSY ony works with US patents for now - WIPO/PCT patents will be added later
	<li>Use PATSY in conjunction with a printed view of a patent, e.g. 
		from <a href="http://google.com/patents">Google Patents</a>
	<li>Some blocks of text are split incorrectly. The ambiguity inherent in this type of text makes 
		accurate parsing a very difficult problem - but we're working to improve it
		
	<li>Journal references are especially difficult to parse, so some links to PubMed will not
		return valid results - again, we're working on it
	<li>For now PATSY is available at no charge - if the idea takes off we may institute a subscription service for
		professional users, as well as keeping free access for light users.
	<li>Your feedback is appreciated - please tell us what you think at info<span>@</span>craic.com
</ul>
</p>
<p>&nbsp;</p>
<p style="text-align: center">Here is an example of what PATSY can do:</p>
<br/>
</div>


<p>From the printed patent (Google Patents)</p>
<p style="text-align: center">
	<img src="/images/uspto_google_sml.png" class="background-image" alt="Image of patent text from a printed patent" /></p>
<p>From the USPTO web site</p>
<p style="text-align: center">
	<img src="/images/uspto_raw_sml.png" class="background-image" alt="Image of patent text from the USPTO web site" /></p>
<p>and from PATSY</p>
<p style="text-align: center">
	<img src="/images/uspto_patsy_sml.png" class="background-image" alt="Image of patent text processed by PATSY" /></p>
<p style="text-align: center">Which one would you prefer to read?</p>
<p>&nbsp;</p>
<p style="text-align: center"><a href="/">Try PATSY Now - it's free</a></p>
