

<p  style="text-align: center">PATSY makes patents easier to read</p>
<p>&nbsp;</p>

<div id="get-patent" style="text-align: center">
<p>
Enter a US Patent or Publication Number<br/>
<span style="font-size: 12px">e.g. US6677436 or US20110014201<span>
</p>
<br/>

<form  action="/patsy" method="get"> 
<input id="id" name="id" label="patent number" size="20" type="text" tabindex="1"/> 
<br/>&nbsp;<br/> 
<input type="submit" label="display the patent" value="Display the Patent"  tabindex="2" size="25"/> 
</form> 

<br/>&nbsp;<br/>

<p style="text-align: center"><a href="/background">Learn more about PATSY</a></p>


&nbsp;<br/>

<p style="text-align: center"><a href="/bookmarklet">Install the PATSY Bookmarklet</a></p>


</div>



<script type="text/javascript">
//<![CDATA[
document.forms[0].elements[0].focus();
//]]>
</script>
